@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');

:root {
  --primary-color: #fff;
  --text-color: #8b949e;
  --text-color-1: #79c0ff;
  --back-color: #0d1117;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: var(--primary-color);
  background-color: var(--back-color);
}

main {
    padding-top: 5rem;
    text-align: center;
}

h2 {
    color: var(--text-color-1);
}

p {
    color: var(--text-color);
}